.l-banner {
  position: relative;
  margin: 0 auto;
  margin-bottom: 6rem;

  &__hero {
    position: absolute;
    bottom: 8%;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 2rem;
  }
}

.c-banner {
  width: 100%;
  min-height: 568px;
  max-height: 1440px;
  background-size: auto 130%;

  &__title {
    margin-bottom: 3rem;
    font-size: 3.8rem;
    line-height: 120%;
    color: $col-black;
    text-shadow: 0 0 10px $col-bg;
  }

  &__description {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    line-height: 150%;
    text-align: justify;
    text-shadow: 0 0 10px $col-bg;
  }

  &__btn {
    margin: 0 auto;
    text-align: center;
  }

  &__dots {
    position: absolute;

    &--1 {
      bottom: 73%;
      left: 2%;
      z-index: 0;
      width: 30%;
      height: 12%;
    }

    &--2 {
      top: 42%;
      left: 65%;
      z-index: 0;
      width: 30%;
      height: 30%;
    }
  }

  @include media-breakpoint-down(lg) {
    background-position: 65% 100%;
    background-size: auto 120%;

    &__title {
      margin-bottom: 3rem;
      font-size: 3.2rem;
    }

    &__description {
      margin-bottom: 3rem;
      font-size: 1.4rem;
    }
  }

  @include media-breakpoint-down(md) {
    &__title {
      margin-bottom: 2rem;
      font-size: 2.4rem;
    }

    &__description {
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 2.3rem;
    }
  }

  @include media-breakpoint-down(xs) {
    background-position: 66% 100%;

    &__title {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    &__description {
      margin-right: 1rem;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 150%;
    }
  }
}
