.l-badge {
  display: inline-block;
  padding: 0.1rem 0.6rem 0.2rem;
  margin: 0.25rem 0.5rem 0.25rem 0;

  &--green {
    margin: 0 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 0.4rem 0.1rem;
  }
}

.c-badge {
  font-size: 1rem;
  color: $col-light-blue;
  border: 1px solid $col-light-blue;
  border-radius: 4rem;
  transition: color 0.3s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    color: $col-blue;
    cursor: default;
    border-color: $col-blue;
  }

  &--green {
    font-weight: bold;
    line-height: 120%;
    color: $col-bg;
    background: $col-green;
    border-color: $col-green;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:hover {
      color: $col-bg;
      background: $col-dark-green;
      border-color: $col-dark-green;
    }
  }
  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
  }
}
