.c-bullet-point {
  position: absolute;
  width: 240px;
  overflow: visible;

  &__bullet {
    position: absolute;
    top: -1rem;
    left: -3rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 150%;
    color: $col-bg;
    text-align: center;
    background-color: $col-violet;
    border: 1px solid $col-violet;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover {
      cursor: default;
      background-color: $col-dark-violet;
      border-color: $col-dark-violet;
    }

    &--right {
      right: -3rem;
      left: auto;
    }
  }

  &__title {
    position: absolute;
    bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 150%;

    &--right {
      right: 0;
      text-align: end;
    }
  }

  &__divider {
    position: absolute;
    width: 2rem;
    height: 3px;
    background-color: $col-red;

    &--right {
      right: 0;
    }
  }

  &__description {
    position: absolute;
    top: 1rem;
    font-size: 1rem;

    &--right {
      text-align: end;
    }
  }

  &--1 {
    top: 128px;
    right: calc(100% + 30px);
  }

  &--2 {
    top: 272px;
    left: calc(100% + 30px);
  }

  &--3 {
    top: 440px;
    right: calc(100% + 30px);
  }

  &--4 {
    top: 600px;
    left: calc(100% + 30px);
  }

  @include media-breakpoint-down(sm) {
    width: 180px;

    &__bullet {
      top: -0.75rem;
      left: -2.75rem;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;
      line-height: 130%;

      &--right {
        right: -2.75rem;
        left: auto;
      }
    }

    &__title {
      bottom: 0.5rem;
      font-size: 1rem;
    }

    &__description {
      top: 0.6rem;
      font-size: 0.8rem;
    }

    &__divider {
      width: 1.5rem;
      height: 2px;
    }

    &--1 {
      top: 86px;
    }

    &--2 {
      top: 184px;
    }

    &--3 {
      top: 294px;
    }

    &--4 {
      top: 400px;
    }
  }

  @include media-breakpoint-down(xs) {
    &__bullet {
      &--right {
        right: auto;
        left: -3.75rem;
      }
    }

    &__title {
      &--right {
        left: 0;
        text-align: start;
      }
    }

    &__description {
      &--right {
        text-align: start;
      }
    }

    &__divider {
      &--right {
        right: auto;
        left: 0;
      }
    }

    &--1 {
      left: calc(34px + 16px);
    }

    &--2 {
      left: calc(100% + 30px);
      width: 160px;
    }

    &--3 {
      left: calc(34px + 16px);
    }

    &--4 {
      left: calc(100% + 30px);
      width: 160px;
    }
  }
}
