.l-btn {
  display: inline-block;
  text-align: center;
}

.c-btn {
  width: 340px;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: $col-bg;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  background-color: $col-blue;
  border: 0;
  border-radius: 4rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  transition: text-decoration 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: $col-dark-blue;
  }

  &:active:hover {
    box-shadow: none;
  }

  &--green {
    background-color: $col-green;

    &:hover {
      background-color: $col-dark-green;
    }
  }

  &--sm {
    width: 170px !important;
    padding: 0.5rem !important;
    font-size: 0.9rem !important;
  }

  @include media-breakpoint-down(md) {
    width: 280px;
    padding: 0.8rem;
    font-size: 1.2rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  }
}
