.l-footer {
  padding: 1.5rem 0;

  @include media-breakpoint-down(xs) {
    padding: 1rem 0;
  }
}

.c-footer {
  text-align: left;

  &__primary {
    float: left;
    height: 210px;
  }

  &__secondary {
    float: right;
    height: 210px;
    clear: none;
  }

  &__texts {
    position: absolute;
    bottom: 2rem;
  }

  &__policies {
    margin: 0.5rem 0;
  }

  &__policy-link {
    margin-right: 2rem;
    font-size: 1rem;
    color: $col-gray;
    transition: 0.3s ease;

    &:hover {
      color: $col-dark-gray;
    }
  }

  &__copy,
  &__flaticon,
  &__company-data {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: $col-gray;
    letter-spacing: 0.02em;
  }

  &__link {
    color: $col-gray;
    transition: 0.3s ease;

    &:hover {
      color: $col-dark-gray;
    }
  }

  &__fa {
    padding: 0.5rem;
    margin-right: 1.5rem;
    margin-left: -0.5rem;
    font-size: 1.5rem;
    color: $col-gray;
    transition: 0.3s ease;

    &--last {
      margin-right: 0;
    }

    &:hover {
      color: $col-blue;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(md) {
    &__primary {
      height: auto;
    }

    &__secondary {
      float: left;
      height: auto;
      clear: both;
    }

    &__social {
      margin: 1rem 0;
    }

    &__flaticon {
      margin: 2rem 0;
      font-size: 0.8rem;
    }
  }

  @include media-breakpoint-down(xs) {
    &__copy,
    &__policy-link,
    &__company-data {
      font-size: 0.8rem;
    }

    &__policy-link {
      margin-right: 0.8rem;
    }

    &__flaticon {
      font-size: 0.6rem;
    }
  }
}
