.l-footer {
  padding: 1rem 0;
}

.c-footer {
  text-align: center;

  &__submenu {
    margin: 1.5rem 0;
  }

  &__submenu-link {
    margin: 0 1rem;
    font-size: 1rem;
    color: $col-gray;
    transition: 0.3s ease;

    &:hover {
      color: $col-dark-gray;
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }

  &__copy {
    margin: 1.5rem 0;
    font-size: 1rem;
    color: $col-gray;
    letter-spacing: 0.02em;
  }

  &__txt {
    margin: 1rem 0;
    font-size: 0.8rem;
    color: $col-gray;
  }

  &__link {
    color: $col-gray;
    transition: 0.3s ease;

    &:hover {
      color: $col-dark-gray;
    }
  }

  @include media-breakpoint-down(xs) {
    &__submenu {
      margin: 1rem 0;
    }

    &__submenu-link {
      margin: 0 0.5rem;
      font-size: 0.8rem;
    }

    &__copy {
      margin: 1rem 0;
      font-size: 0.8rem;
    }

    &__txt {
      margin: 0.5rem 0;
      font-size: 0.6rem;
    }
  }
}
