.l-footer-nav {
  float: left;

  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

.c-footer-nav {
  &__link {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0;
    margin-right: 4rem;
    font-size: 1rem;
    font-weight: bold;
    color: $col-gray;
    text-transform: uppercase;

    &--last {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      content: "";
      background-color: $col-dark-gray;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      color: $col-dark-gray;
      text-decoration: none;

      &::after {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__link {
      margin-right: 3rem;
    }
  }

  @include media-breakpoint-down(xs) {
    &__link {
      margin-right: 0.8rem;
      font-size: 0.8rem;

      &:hover::after {
        width: 0;
      }
    }
  }
}
