.l-loop-banner {
  position: absolute;
  top: 20%;
  left: 60%;
  z-index: -1;
  width: 100%;
  transform: translate(-12%, -35%) rotate(-1deg);

  @media screen and (min-width: 1920px) {
    width: 120%;
    transform: translate(-15%, -35%) rotate(-1deg);
  }

  @include media-breakpoint-down(lg) {
    width: 110%;
    transform: translate(-15%, -35%) rotate(-1deg);
  }

  @include media-breakpoint-down(md) {
    width: 120%;
    transform: translate(-18%, -35%) rotate(-1deg);
  }

  @include media-breakpoint-down(sm) {
    width: 150%;
    transform: translate(-25%, -40%) rotate(-1deg);
  }
}
