.l-section {
  padding: 4rem 0;

  @include media-breakpoint-down(md) {
    padding: 3rem 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 2rem 0;
  }
}

.c-section {
  &__title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 100%;
    color: $col-black;
    letter-spacing: 0.05em;

    &--right {
      text-align: end;
    }
  }

  &__divider {
    display: block;
    width: 2rem;
    height: 6px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: $col-blue;

    &--right {
      float: right;
      text-align: end;
    }

    &--violet {
      background-color: $col-violet;
    }
  }

  &__description {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: justify;

    &--right {
      position: relative;
      right: -50%;
      width: 50%;
      text-align: end;
    }
  }

  @include media-breakpoint-down(md) {
    &__title {
      font-size: 2rem;
    }

    &__description {
      &--right {
        right: -34%;
        width: 66%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__description {
      &--right {
        right: -18%;
        width: 82%;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &__title {
      font-size: 1.5rem;
    }

    &__description {
      font-size: 1rem;

      &--right {
        right: 0;
        width: 100%;
      }
    }

    &__divider {
      width: 1.5rem;
      height: 4px;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;

      &--right {
        left: calc(100% - 1.5rem);
      }
    }
  }
}
