.l-section {
  padding: 4rem 0;

  @include media-breakpoint-down(md) {
    padding: 3rem 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 2rem 0;
  }
}

.c-section {
  &__title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 100%;
    color: $col-black;
    letter-spacing: 0.05em;

    &--right {
      text-align: right;
    }
  }

  &__divider {
    display: block;
    width: 2rem;
    height: 6px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: $col-blue;
    border-radius: 5px;

    &--right {
      float: right;
    }

    &--violet {
      background-color: $col-violet;
    }

    &--red {
      background-color: $col-red;
    }
  }

  &__description {
    width: 65%;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: left;

    &--right {
      position: relative;
      right: -35%;
      text-align: right;
    }

    &--full-width {
      width: 100%;
      text-align: justify;
    }
  }

  @include media-breakpoint-down(md) {
    &__title {
      font-size: 2rem;
    }

    &__description {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      &--right {
        text-align: left;
      }
    }

    &__divider {
      &--right {
        float: left;
      }
    }

    &__description {
      width: 100%;
      text-align: justify;

      &--right {
        right: 0;
      }

      &--full-width {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &__title {
      font-size: 1.5rem;
    }

    &__description {
      width: 100%;

      &--right {
        right: 0;
      }
    }

    &__divider {
      width: 1.5rem;
      height: 4px;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;

      &--right {
        left: calc(100% - 1.5rem);
      }
    }
  }
}
