.l-subsection {
  padding: 3rem 0;

  @include media-breakpoint-down(md) {
    padding: 2rem 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 1rem 0;
  }
}

.c-subsection {
  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 100%;

    &--lg {
      font-size: 2.5rem;
      font-weight: 900;
      color: $col-black;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }

  &__description {
    width: 75%;
    font-size: 1.2rem;
    text-align: start;

    &--secondary {
      margin-top: -1.5rem;
      font-weight: 600;
    }
  }

  &__divider {
    display: block;
    width: 2rem;
    height: 3px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background-color: $col-violet;
    border-radius: 5px;

    &--center {
      margin: 1.5rem auto;
      background-color: $col-red;
    }
  }

  &__img-full {
    width: 100%;
    margin: 4rem auto;
  }

  @include media-breakpoint-down(lg) {
    &__description {
      width: 85%;

      &--secondary {
        margin-top: -2rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__title {
      font-size: 1.4rem;

      &--lg {
        font-size: 2rem;
      }
    }

    &__description {
      width: 75%;
      font-size: 1rem;
    }

    &__img-full {
      margin: 3rem auto;
    }
  }

  @include media-breakpoint-down(sm) {
    &__description {
      width: 100%;
      text-align: justify;

      &--secondary {
        margin-top: -1rem;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &__title {
      font-size: 1.2rem;

      &--lg {
        font-size: 1.5rem;
      }
    }

    &__description {
      &--secondary {
        margin-top: -1.5rem;
      }
    }

    &__divider {
      width: 1.5rem;
      height: 2px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
