*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  clear: both;
}

.app {
  min-width: 320px;
  font-family: $font-source-sans-pro;
  color: $col-dark-gray;
  background: $col-bg;
}

.container-fluid {
  position: relative;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
}

.container {
  padding: 0;
}

.row {
  margin: 0;
}

/* stylelint-disable-next-line */
a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  /* stylelint-disable-next-line */
  &:hover {
    text-decoration: underline;
  }
}

.agile {
  position: relative;
  left: calc(100% - 240px - 30px - 120px);
  width: 120px;
  height: 780px;
  margin: 4rem 0;
  overflow: visible;
  background: url("../img/agile__even-line.png");
  background-size: 100%;

  @include media-breakpoint-down(sm) {
    left: calc(100% - 180px - 30px - 80px);
    width: 80px;
    height: 520px;
  }

  @include media-breakpoint-down(xs) {
    left: 10%;
    margin: 2rem 0;
  }
}

@keyframes autofill {
  to {
    color: $col-gray;
    background: transparent;
  }
}

/* stylelint-disable-next-line */
input:-webkit-autofill,
textarea:-webkit-autofill {
  animation-name: autofill; /* stylelint-disable-line */
  animation-fill-mode: both; /* stylelint-disable-line */
}
