.h-white {
  color: $col-white !important;
}

.h-dark {
  color: $col-gray !important;
}

.h-blue {
  color: $col-blue !important;
}

.h-txt-divider {
  padding-right: 0.3em;
  padding-left: 0.3em;
}
