.l-no-padding {
  padding: 0;
}

.l-container-padding {

  @include media-breakpoint-down(xs) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.l-bg {
  position: relative;
  z-index: -1;
  width: 100%;
}
