.swiper-container {
  margin-bottom: 2rem;
}

.swiper-scrollbar-drag {
  height: 3px;
  background: $col-light-blue;
}

.swiper-slide {
  opacity: 1;

  @include media-breakpoint-down(lg) {
    opacity: 0.25;
    transition: opacity 0.8s ease-in-out;
  }
}

.swiper-slide-active {
  opacity: 1;
}
