$col-white: #fff;
$col-black: #000;
$col-blue: rgb(15, 98, 195);
$col-dark-blue: darken($col-blue, 10%);
$col-green: rgb(48, 185, 82);
$col-dark-green: darken($col-green, 10%);
$col-red: rgb(211, 35, 61);
$col-dark-red: darken($col-red, 10%);
$col-violet: rgb(116, 80, 196);
$col-dark-violet: darken($col-violet, 10%);
$col-bg: rgb(253, 252, 250);
$col-dark-bg: rgb(239, 238, 236);
$col-shadow: rgba(0, 0, 0, 0.08);
$col-dark-gray: rgb(62, 63, 58);
$col-gray: lighten($col-dark-gray, 10%);
$font-source-sans-pro: "Source Sans Pro", "Lucida Grande", "Verdana", sans-serif;
